<div class="pure-g">
  <span class="pure-u-2-24"></span>
  <mat-tab-group class="pure-u-20-24">
    <div style="margin-bottom: 2em;">
      <mat-tab label="Add Courses">
        <h1 class="ui-g-12" style="text-align:left; color:black;">Add Course</h1>
        <div>
          <div style="text-align:left;">
            <div class="ui-card-content" (keyup.enter)="getFinal(name.value, number.value, section.value); name.value=''; number.value=''; section.value=''">

              <div class="pure-form" style="margin-bottom:2%;">

                <div class="ui-g-3 ui-sm-12 ui-g">
                  <input pInputText style="margin-bottom: 3%" class="ui-g-12 ui-sm-12" type="text" #name title="Course Name" placeholder="MATH">
                  <input pInputText style="margin-bottom: 3%" class="ui-g-12 ui-sm-12" type="text" #number title="Course Number" placeholder="201">
                  <input pInputText style="margin-bottom: 3%" class="ui-g-12 ui-sm-12" type="text" #section title="Section" placeholder="optional . . .">
                  <button class="ui-g-12 ui-sm-12 pure-button pure-button-primary" label="Add" (click)="getFinal(name.value, number.value, section.value); name.value=''; number.value=''; section.value=''">Add</button>
                </div>
              </div>

            </div>
          </div>


          <div class="ui-g-9 ui-sm-12" *ngIf="finals != undefined">
            <div *ngFor="let final of finals" style="margin-bottom:1em;">
              <div>
                <p-card>
                  <div class="ui-card-content" class="ui-g">
                    <div class="ui-g-11 ui-sm-10 ui-g">
                      <span class="ui-g-3 ui-sm-12">
                        {{final.courseName}} {{final.courseNumber}} - {{final.section}}
                      </span>
                      <span class="ui-g-3 ui-sm-12">
                        {{final.roomName}} {{final.roomNumber}}
                      </span>
                      <span class="ui-g-3 ui-sm-12">
                        <strong>
                          {{final.monthName}} {{final.monthNumber}}, {{final.year}}
                        </strong>
                      </span>
                      <span class="ui-g-2 ui-sm-12">
                        <strong>
                          {{final.time}} {{final.amPm}}
                        </strong>
                      </span>
                    </div>
                    <span class="ui-g-1 ui-sm-2">
                      <p-button icon="fa fa-times" iconPos="right" (click)="removeFinal(final);"></p-button>
                    </span>

                  </div>
                </p-card>
              </div>
            </div>
          </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
      </mat-tab>

      <!-- <mat-tab label="View Calendar">
        <div class="ui-g">
          <div class="ui-g ui-g-nopad ui-md-nopad">
            <app-calendar-view [events]="events"></app-calendar-view>
          </div>
        </div>
      </mat-tab> -->

      <mat-tab *ngIf="finals.length != 0" label="Double Check">
        <div class="ui-g" style="margin-top:2%;">
          <div class="ui-g-10 ui-sm-12 ui-sm-offset-0 ui-g-offset-1">

            <a style="margin-bottom:1%; padding:1%;" class="pure-button pure-button-primary" href="{{finals_link}}"
              target="_blank">
              View Finals PDF
            </a>

            <app-table [finals]="finals"></app-table>
          </div>
        </div>
      </mat-tab>

    </div>
  </mat-tab-group>
  <span class="pure-u-2-24"></span>
</div>