@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

*{
    font-family: 'Muli', sans-serif;
    color:#111111
}

body{
    background-color: #FFFFFF; 
}

h1,i{
    /* font-family: 'Supermercado One', cursive; */
    color:#DDDDDD;
}

html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    position: relative;
  }
  
  footer {
    /* display: flex; */
    position: absolute;
    bottom: 0px;
    height: 75px;
    /* left: 1%; */
    width: 100%;
  }